.breaking-alert {
  background: $breaking-alert-bg;
  color: $breaking-alert-color;
  padding: $space-xxs 0;
  position: fixed;
  text-align: center;
  text-decoration: underline;
  top: auto;
  width: 100%;
  z-index: 1;
}
