.masthead {
  font-size: $font-size-base;
  padding: $space-xl $space-xxxl;

  .masthead-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .masthead-info {
    border-bottom: solid thin $gray-80;
    display: flex;
    justify-content: space-between;
    padding: $space-xs $space-md;
  }
}
