.trending-topic {
  align-items: baseline;
  display: flex;
  justify-content: center;
  padding: $space-md;

  ul {
    display: flex;
    flex-direction: row;

    li a {
      background: $trending-topic-background-color;
      color: $font-color-secondary;
      font-weight: $font-weight-bold;
      margin: $space-xxxs;
      padding: $space-xxxs $space-xxs;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
