$app-bar-menu-bg: $gray;
$app-bar-menu-color: $white;

// Spaces
$space-xxxs: 0.25rem;
$space-xxs: 0.375rem;
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.25rem;
$space-xl: 1.5rem;
$space-xxl: 1.75rem;
$space-xxxl: 2rem;

//Breakpoints
$media-breakpoint-sm-up: 36rem;
$media-breakpoint-md-up: 48rem;
$media-breakpoint-lg-up: 62rem;
$media-breakpoint-xl-up: 75rem;

$media-breakpoint-sm-down: calc(#{$media-breakpoint-sm-up} - 1px);
$media-breakpoint-md-down: calc(#{$media-breakpoint-md-up} - 1px);
$media-breakpoint-lg-down: calc(#{$media-breakpoint-lg-up} - 1px);
$media-breakpoint-xl-down: calc(#{$media-breakpoint-xl-up} - 1px);

//Fonts
$font-family-primary: 'Neuton';
$font-size-sm: 0.625rem;
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-color-secondary: $white;
